version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: community_portal
      POSTGRES_USER: nxtturn_user
      POSTGRES_PASSWORD: Airtel@123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis
    restart: always

  backend:
    build: ./Loopline
    container_name: django_backend
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    env_file:
      - ./Loopline/.env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: frontend_app
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  postgres_data:
